# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Projects/radio-clube/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Projects/radio-clube/index.php [L]
</IfModule>
# END WordPress